{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.crxcavator.io/v1",
      "description": "Prod"
    }
  ],
  "info": {
    "description": "This documentation defines the endpoints for https://api.crxcavator.io/v1",
    "version": "1.0.0",
    "title": "CRXcavator API Docs",
    "termsOfService": "https://crxcavator.io/docs#/terms_of_use",
    "contact": {
      "email": "support@crxcavator.io"
    }
  },
  "tags": [
    {
      "name": "group",
      "description": "Group Management"
    },
    {
      "name": "user",
      "description": "User Management"
    },
    {
      "name": "virustotal",
      "description": "VirusTotal Reports"
    },
    {
      "name": "report",
      "description": "Reports"
    },
    {
      "name": "submit",
      "description": "Submit Chrome Extensions"
    }
  ],
  "paths": {
    "/group/superadmin/{username}": {
      "delete": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "Username of user to demote",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "summary": "Demote a super admin of a group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Promote a user to super admin of a group",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "Username of user to promote",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        }
      }
    },
    "/group/permissions/{username}": {
      "get": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "Username to get permissions for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "summary": "Gets permissions for a user",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPermissions"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Sets permissions for a user",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "Username to set permissions for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/SetPermissions"
        }
      }
    },
    "/embed/dashboard/{dashboard_id}": {
      "delete": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard ID to delete",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "summary": "Deletes an embedded dashboard",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "group"
        ],
        "summary": "Gets an embedded dashboard",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard ID to get",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/embed/dashboard": {
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Creates an embedded dashboard",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDashboardSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        }
      }
    },
    "/embed/dashboards": {
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Lists all embedded dashboards",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDashboards"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        }
      }
    },
    "/group/invite/accept": {
      "post": {
        "tags": [
          "group"
        ],
        "summary": "Accept group invite",
        "description": "Accepts a group invite.",
        "responses": {
          "200": {
            "description": "Successfully accepted group invite",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAlreadyInGroup"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/GroupInviteAccept"
        }
      }
    },
    "/group/invite": {
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Send group invite",
        "description": "Sends a group invite.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnknownError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/GroupInvite"
        }
      }
    },
    "/group": {
      "get": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Get group data",
        "description": "Returns all data on a group. Returns group secret and webhook secert if admin.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupData"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Creates a group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "400": {
            "description": "User already in group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAlreadyInGroup"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateGroup"
        }
      }
    },
    "/group/user/remove/{username}": {
      "delete": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Removes a user from a group",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "Username of user to remove",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        }
      }
    },
    "/group/user/leave": {
      "delete": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Leaves your current group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        }
      }
    },
    "/group/extensions/set/{extension_id}": {
      "delete": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Removes an extension from the whitelist",
        "parameters": [
          {
            "name": "extension_id",
            "in": "path",
            "description": "Extension ID to remove from whitelisted extensions",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Adds an extension to the whitelist",
        "parameters": [
          {
            "name": "extension_id",
            "in": "path",
            "description": "Extension ID to add to whitelisted extensions",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        }
      }
    },
    "/group/users/extensions/{username}": {
      "get": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Gets installed extension data for the user",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "User to get extension data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupUserExtensionData"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "group"
        ],
        "summary": "Sets installed extension data for the user",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "User to set extension data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SetUserExtensions"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Delete installed extension data for the user",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "User to delete extension data",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          },
          "404": {
            "description": "User data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserNotFound"
                }
              }
            }
          }
        }
      }
    },
    "/group/users/extensions": {
      "get": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Gets installed extension data for the entire group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupUsersExtensionData"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        }
      }
    },
    "/group/secret": {
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Generates a new group secret",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupSecretSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        }
      }
    },
    "/group/extensions/combined": {
      "get": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Get bulk data on all whitelisted & used extensions",
        "description": "bulk data on all whitelisted & used extensions",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupBulkExtensionData"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        }
      }
    },
    "/group/extensions/bulk": {
      "get": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Get bulk data on all whitelisted extensions",
        "description": "Returns bulk data on all whitelisted extensions",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupBulkWhitelistedExtensionData"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Sets whitelisted extensions in bulk",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidSchema"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/BulkExtensions"
        }
      }
    },
    "/group/extensions/request": {
      "get": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Get extension requests",
        "description": "Returns all group extension requests",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupExtensionRequests"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "group"
        ],
        "summary": "Create extension request",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidSchema"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateExtensionRequest"
        }
      }
    },
    "/group/extensions/request/{id}/{status}": {
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Removes a user from a group",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of extension request",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "status",
            "in": "path",
            "description": "New status of extension request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnknownError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        }
      }
    },
    "/group/webhookurl": {
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Set group WebHook URL",
        "description": "Sets group WebHook URL",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnknownError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/WebHookURL"
        }
      }
    },
    "/group/webhooksecret": {
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Generate group WebHook secret",
        "description": "Generates group WebHook secret",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHookSecretSuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        }
      }
    },
    "/group/threatexchange": {
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Sets ThreatExchange key for the group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnknownError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/ThreatExchange"
        }
      }
    },
    "/group/virustotal": {
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "group"
        ],
        "summary": "Sets VirusTotal key for the group",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnknownError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          },
          "403": {
            "description": "You are not an admin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotAnAdmin"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/VirusTotal"
        }
      }
    },
    "/user/apikey": {
      "post": {
        "security": [
          {
            "APIKey": []
          },
          {
            "CognitoToken": []
          }
        ],
        "tags": [
          "user"
        ],
        "summary": "Creates an API Key",
        "description": "Creates an API Key",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeySuccess"
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        }
      }
    },
    "/virustotal/results": {
      "post": {
        "tags": [
          "virustotal"
        ],
        "summary": "Gets VirusTotal results",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirusTotalResults"
                }
              }
            }
          },
          "401": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuth"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/VirusTotalResults"
        }
      }
    },
    "/virustotal/report": {
      "post": {
        "tags": [
          "virustotal"
        ],
        "summary": "Gets VirusTotal report",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSuccess"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/VirusTotalReport"
        }
      }
    },
    "/submit": {
      "post": {
        "tags": [
          "submit"
        ],
        "summary": "Submit an extension ID to be scanned",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitSuccess"
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitError"
                }
              }
            }
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/SubmitToScan"
        }
      }
    },
    "/report/{extension_id}/{version}?platform=[Chrome|Firefox|Edge]": {
      "get": {
        "tags": [
          "report"
        ],
        "summary": "Gets a report on a specific version of an extension",
        "parameters": [
          {
            "name": "extension_id",
            "in": "path",
            "description": "Extension ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Extension Version",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtensionReport"
                }
              }
            }
          }
        }
      }
    },
    "/report/{extension_id}?platform=[Chrome|Firefox|Edge]": {
      "get": {
        "tags": [
          "report"
        ],
        "summary": "Gets reports for all versions of an extension",
        "parameters": [
          {
            "name": "extension_id",
            "in": "path",
            "description": "Extension ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExtensionReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/metadata/{extension_id}": {
      "get": {
        "tags": [
          "report"
        ],
        "summary": "Gets metadata of an extension",
        "parameters": [
          {
            "name": "extension_id",
            "in": "path",
            "description": "Extension ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExtensionMetadata"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Root handler",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Learn more about CRXcavator",
    "url": "https://crxcavator.io/about"
  },
  "components": {
    "schemas": {
      "GroupExtensionRequests": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "string"
          },
          "username": {
            "type": "string",
            "format": "string"
          },
          "extension_id": {
            "type": "string",
            "format": "string"
          },
          "icon": {
            "type": "string",
            "format": "string"
          },
          "name": {
            "type": "string",
            "format": "string"
          },
          "business_justification": {
            "type": "string",
            "format": "string"
          },
          "status": {
            "type": "string",
            "format": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "string"
          }
        }
      },
      "ExtensionMetadata": {
        "type": "object",
        "properties": {
          "extension_id": {
            "type": "string",
            "format": "string"
          },
          "icon": {
            "type": "string",
            "format": "string"
          },
          "name": {
            "type": "string",
            "format": "string"
          },
          "rating": {
            "type": "number",
            "format": "double"
          },
          "rating_users": {
            "type": "integer",
            "format": "int64"
          },
          "short_description": {
            "type": "string",
            "format": "string"
          },
          "users": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "SetUserExtensions": {
        "type": "object",
        "properties": {
          "secret": {
            "type": "string",
            "format": "string",
            "description": "Group secret generated on the group settings page"
          },
          "extensions": {
            "type": "object",
            "properties": {
              "EXTENSION_ID": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "format": "string"
                  },
                  "version": {
                    "type": "string",
                    "format": "string"
                  }
                }
              }
            }
          }
        }
      },
      "StandardSuccess": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CreateDashboardSuccess": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "format": "string"
          },
          "dashboard_id": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "WebHookSecretSuccess": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "format": "string"
          },
          "webhook_secret": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "APIKeySuccess": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "format": "string"
          },
          "api_key": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "GroupSecretSuccess": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "format": "string"
          },
          "secret": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ListDashboards": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "dashboard_id": {
              "type": "string",
              "format": "string"
            },
            "type": {
              "type": "string",
              "format": "string"
            }
          }
        }
      },
      "SubmitSuccess": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "format": "string"
          },
          "extensionID": {
            "type": "string",
            "format": "string"
          },
          "version": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "SubmitError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "format": "string",
            "enum": [
              "Error extension is too big (> 100Mib)",
              "Error retrieving extension from webstore",
              "Invalid Extension ID"
            ]
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "NotAnAdmin": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "UserNotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "InvalidAuth": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "UnknownError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ErrorGettingGroup": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "UserAlreadyInGroup": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "InvalidSchema": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "GroupInviteAcceptToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "format": "string"
          }
        }
      },
      "Username": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "format": "string"
          }
        }
      },
      "GroupName": {
        "type": "object",
        "properties": {
          "groupName": {
            "type": "string",
            "format": "string"
          }
        }
      },
      "WebHookURL": {
        "type": "object",
        "properties": {
          "webhookurl": {
            "type": "string",
            "format": "string"
          }
        }
      },
      "ThreatExchangeKey": {
        "type": "object",
        "properties": {
          "threatExchangeKey": {
            "type": "string",
            "format": "string"
          }
        }
      },
      "VirusTotalKey": {
        "type": "object",
        "properties": {
          "virusTotalKey": {
            "type": "string",
            "format": "string"
          }
        }
      },
      "AdminOrGroupError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "format": "string",
            "enum": [
              "You are not an admin",
              "User already in group"
            ]
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "GroupNotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "format": "string"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "SetPermissions": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateExtensionRequest": {
        "type": "object",
        "properties": {
          "secret": {
            "type": "string",
            "format": "string",
            "description": "Group secret generated on the group settings page"
          },
          "extensionID": {
            "type": "string",
            "format": "string"
          },
          "username": {
            "type": "string",
            "format": "string"
          },
          "businessJustification": {
            "type": "string",
            "format": "string"
          }
        }
      },
      "UserPermissions": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "format": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "available_permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "super_admin": {
            "type": "boolean"
          },
          "code": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "GroupData": {
        "type": "object",
        "properties": {
          "extensions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string",
            "format": "string"
          },
          "name": {
            "type": "string",
            "format": "string"
          },
          "threatexchange_key": {
            "type": "string",
            "format": "string"
          },
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string",
                  "format": "string"
                },
                "super_admin": {
                  "type": "boolean"
                },
                "invite_pending": {
                  "type": "boolean"
                }
              }
            }
          },
          "virustotal_key": {
            "type": "string",
            "format": "string"
          },
          "secret": {
            "type": "string",
            "format": "string",
            "description": "Only present if admin"
          },
          "webhook_url": {
            "type": "string",
            "format": "string"
          },
          "webhook_secret": {
            "type": "string",
            "format": "string",
            "description": "Only present if admin"
          }
        }
      },
      "ExtensionList": {
        "type": "object",
        "properties": {
          "extensions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GroupUserExtensionData": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "format": "string"
          },
          "extension_info": {
            "type": "object",
            "properties": {
              "EXTENSION_ID": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "format": "string"
                  },
                  "version": {
                    "type": "string",
                    "format": "string"
                  }
                }
              }
            }
          }
        }
      },
      "GroupUsersExtensionData": {
        "type": "object",
        "properties": {
          "EXTENSION_ID": {
            "type": "object",
            "properties": {
              "VERSION": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "format": "string"
                  },
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GroupBulkExtensionData": {
        "type": "object",
        "properties": {
          "EXTENSION_ID": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "risk": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int64"
                        }
                      }
                    },
                    "webstore": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "integer",
                          "format": "int64",
                          "email": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "icon": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "last_updated": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "name": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "offered_by": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "privacy_policy": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "rating": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "rating_users": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "short_description": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "size": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "support_site": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "users": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "version": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "website": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "total": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    }
                  }
                },
                "extension_id": {
                  "type": "string",
                  "format": "string"
                },
                "version": {
                  "type": "string",
                  "format": "string"
                }
              }
            }
          }
        }
      },
      "GroupBulkWhitelistedExtensionData": {
        "type": "object",
        "properties": {
          "EXTENSION_ID": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "webstore": {
                      "type": "object",
                      "properties": {
                        "icon": {
                          "type": "string",
                          "format": "string"
                        },
                        "last_updated": {
                          "type": "string",
                          "format": "string"
                        },
                        "name": {
                          "type": "string",
                          "format": "string"
                        }
                      }
                    }
                  }
                },
                "extension_id": {
                  "type": "string",
                  "format": "string"
                },
                "version": {
                  "type": "string",
                  "format": "string"
                }
              }
            }
          }
        }
      },
      "VirusTotalResults": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "url": {
              "type": "string",
              "format": "string"
            },
            "vt": {
              "type": "object",
              "properties": {
                "positives": {
                  "type": "integer",
                  "format": "int64"
                },
                "total": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      },
      "URLList": {
        "type": "object",
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "VirusTotalReport": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string",
            "format": "string"
          },
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ExtensionID": {
        "type": "object",
        "properties": {
          "extension_id": {
            "type": "string",
            "format": "string"
          }
        }
      },
      "ExtensionReport": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "csp": {
                "type": "object",
                "properties": {
                  "object-src": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "string"
                    }
                  },
                  "script-src": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "string"
                    }
                  },
                  "child-src": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "string"
                    }
                  },
                  "connect-src": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "string"
                    }
                  },
                  "default-src": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "string"
                    }
                  }
                }
              },
              "dangerousfunctions": {
                "type": "object",
                "properties": {
                  "FUNCTION_NAME": {
                    "type": "object",
                    "properties": {
                      "FILENAME": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int64"
                        }
                      }
                    }
                  }
                }
              },
              "entrypoints": {
                "type": "object",
                "properties": {
                  "FUNCTION_NAME": {
                    "type": "object",
                    "properties": {
                      "FILENAME": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int64"
                        }
                      }
                    }
                  }
                }
              },
              "extcalls": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "string"
                }
              },
              "extension_id": {
                "type": "string",
                "format": "string"
              },
              "extjs": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "string"
                }
              },
              "manifest": {
                "type": "object",
                "description": "Chrome Extension Manifest object. See https://developer.chrome.com/extensions/manifest"
              },
              "retire": {
                "type": "object",
                "description": "RetireJS JSON output object. See https://github.com/RetireJS/retire.js to learn more"
              },
              "risk": {
                "type": "object",
                "properties": {
                  "csp": {
                    "type": "object",
                    "properties": {
                      "object-src": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "script-src": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "child-src": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "connect-src": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "default-src": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "total": {
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  },
                  "extcalls": {
                    "type": "object",
                    "properties": {
                      "total": {
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string",
                        "format": "string"
                      }
                    }
                  },
                  "total": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "permissions": {
                    "type": "object",
                    "properties": {
                      "total": {
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  },
                  "optional_permissions": {
                    "type": "object",
                    "properties": {
                      "total": {
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  },
                  "retire": {
                    "type": "object",
                    "properties": {
                      "critical": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "high": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "medium": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "low": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "total": {
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  },
                  "webstore": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "email": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "icon": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "last_updated": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "name": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "offered_by": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "privacy_policy": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "rating": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "rating_users": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "short_description": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "size": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "support_site": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "users": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "version": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "website": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "total": {
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  }
                }
              },
              "webstore": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "format": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "string"
                  },
                  "icon": {
                    "type": "string",
                    "format": "string"
                  },
                  "last_updated": {
                    "type": "string",
                    "format": "string"
                  },
                  "name": {
                    "type": "string",
                    "format": "string"
                  },
                  "offered_by": {
                    "type": "string",
                    "format": "string"
                  },
                  "permission_warnings": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "string"
                    }
                  },
                  "privacy_policy": {
                    "type": "string",
                    "format": "string"
                  },
                  "rating": {
                    "type": "string",
                    "format": "string"
                  },
                  "rating_users": {
                    "type": "string",
                    "format": "string"
                  },
                  "short_description": {
                    "type": "string",
                    "format": "string"
                  },
                  "size": {
                    "type": "string",
                    "format": "string"
                  },
                  "support_site": {
                    "type": "string",
                    "format": "string"
                  },
                  "users": {
                    "type": "string",
                    "format": "string"
                  },
                  "version": {
                    "type": "string",
                    "format": "string"
                  },
                  "website": {
                    "type": "string",
                    "format": "string"
                  }
                }
              }
            }
          },
          "extension_id": {
            "type": "string",
            "format": "string"
          },
          "scan_time": {
            "type": "integer",
            "format": "int64"
          },
          "version": {
            "type": "string",
            "format": "string"
          }
        }
      }
    },
    "requestBodies": {
      "SetPermissions": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SetPermissions"
            }
          }
        },
        "description": "Permissions to be set"
      },
      "WebHookURL": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WebHookURL"
            }
          }
        },
        "description": "Group WebHook URL"
      },
      "SetUserExtensions": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SetUserExtensions"
            }
          }
        },
        "description": "Group secret and user data"
      },
      "GroupInviteAccept": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GroupInviteAcceptToken"
            }
          }
        },
        "description": "Auth token for group acceptance",
        "required": true
      },
      "GroupInvite": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Username"
            }
          }
        },
        "description": "Username to invite to group",
        "required": true
      },
      "CreateGroup": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GroupName"
            }
          }
        },
        "description": "Group name to create",
        "required": true
      },
      "BulkExtensions": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ExtensionList"
            }
          }
        },
        "description": "Bulk extensions to whitelist",
        "required": true
      },
      "ThreatExchange": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ThreatExchangeKey"
            }
          }
        },
        "description": "ThreatExchange Key",
        "required": true
      },
      "VirusTotal": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VirusTotalKey"
            }
          }
        },
        "description": "VirusTotal Key",
        "required": true
      },
      "VirusTotalResults": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/URLList"
            }
          }
        },
        "description": "Array of URLs",
        "required": true
      },
      "VirusTotalReport": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VirusTotalReport"
            }
          }
        },
        "description": "Array of URLs and VirusTotal API Key",
        "required": true
      },
      "SubmitToScan": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ExtensionID"
            }
          }
        },
        "description": "Extension ID to scan",
        "required": true
      },
      "CreateExtensionRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CreateExtensionRequest"
            }
          }
        },
        "description": "Extension request data",
        "required": true
      }
    },
    "securitySchemes": {
      "APIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "API-Key"
      },
      "CognitoToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Cognito-Token"
      }
    }
  }
}